<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width,initial-scale=1.0">
    <title>ログインページ</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="index_container">
        <div class="card">

            <h2>My Web Application</h2>
            <div class="actions">
                <form action="/register" method="get">
                    <button type="submit" class="sub-button">ユーザー登録</button>
                </form>

                <form action="/login" method="get">
                    <button type="submit" class="sub-button">ログイン</button>
                </form>
            </div>

        </div>
    </div>

</body>

</html>