<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>ログインページ</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <h2> ログインページです </h2><br>

    <form action="/submit" method="post">

        <label>ユーザー名: <br>
            <input type="text" class="text_field" required name="name">
        </label><br><br>

        <label>パスワード: <br>
            <input type="text" class="text_field" required name="passwd">
        </label><br><br>

        <!-- 送信ボタン-->
        <button type="submit" class="sub-button">送信する</button>

    </form>

</body>


</html>