<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="index_container">
        <div class="card2">

            <h2> Login </h2><br>

            <form action="/submit" method="post">

                <label>Username: <br>
                    <input type="text" class="text_field" required name="name">
                </label><br><br>

                <label>Password: <br>
                    <input type="text" class="text_field" required name="passwd">
                </label><br><br>

                <!-- 送信ボタン-->
                <button type="submit" class="sub-button">Login</button>

            </form>
        </div>
    </div>

</body>


</html>