<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width,initial-scale=1.0">
    <title>Mypage</title>
    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

    <h1> your profile</h1>
    <p>User name</p>

    <div class="actions">
        <form action="#" method="get">
            <button type="submit" class="sub-button">
                Edit
            </button>
        </form>

        <form action="/logout" method="post">
            <button type="submit" class="sub-button">
                Logout
            </button>
        </form>
    </div>

</body>

</html>