<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width,initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class=index_container>
        <div class=card2>
            <h2>Sign up</h2><br>

            <!-- ユーザー名、メールアドレス、パスワードを入力するフォーム。 -->
            <form action="/register/submit" method="post">

                <div class=act>

                    <label>Username :<br>
                        <input type="text" class="text_field" required name="name">
                    </label><br><br>

                    <label>Email address: <br>
                        <input type="text" class="text_field" required name="mail">
                    </label><br><br>

                    <label>Passwgolanord :<br>
                        <input type="text" class="text_field" required name="passwd">
                    </label><br><br>


                </div>
                <!-- 送信ボタン -->
                <button type="submit" class="sub-button">Sign up</button>
            </form>

        </div>
    </div>

    <!-- ユーザーが名が被っているとエラーを表示させる。被っていない場合は登録処理に入る -->


</body>

</html>